#menu_text{
	background-color: powderblue;
	font-weight: bold;
	text-align: center;
	padding: 80px;
	margin: 0px;
}

nav{
	background-color: #333;
	font-weight: bold;
	overflow: hidden;
}

nav a{
	color: white;
	padding: 14px 20px;
	font-weight: bold;
	/*display: block;*/
	text-align: center;
	text-decoration: none;
}

nav a.menu_left{
	float: left;
}

nav a.menu_right{
	float: right;
}
/*  */
nav a:hover {
	background-color: #DDD;
	color: black;
	padding: 10px 20px;
}

#left_side{
	flex: 20%;
	padding: 10px 20px;
	background-color:grey;
}

#right_side{
	flex: 80%;
	padding: 10px 20px;
	background-color: black;
}

#flex_container{
	display: flex;
	/*flex-wrap: wrap;*/
}

footer{
	background-color: #333;
	color: white;
	text-align: center;
}

footer a{
	color: white;
}


@media (max-width : 800px){
	* {
		background-color: grey;
	}
}

@media (max-width : 400px){
	* {
		background-color: powderblue;
	}
}
