#menu_text{
	background-color: powderblue;
	font-weight: bold;
	text-align: center;
	padding: 60px;
	margin: 0px;
}

nav{
	background-color: #333;
	font-weight: bold;
	overflow: hidden;
}

nav a{
	color: white;
	padding: 14px 20px;
	font-weight: bold;
	display:flex;
	text-align: center;
	text-decoration: none;
	border: 1px solid;
	background-color: gray;
}

nav a.menu_left{
	flex: 70%;
}

nav a.menu_right{
	flex: 30%;
}

#flex_nav{
	display: flex;
}
nav a:hover {
	background-color: #DDD;
	color: black;
	padding: 10px 20px;
}

#left_side{
	flex: 20%;
	padding: 10px 20px;
	background-color:grey;
}

#right_side{
	flex: 80%;
	padding: 10px 20px;
	background-color: black;
}

#flex_container{
	display: flex;
	/*flex-wrap: wrap;*/
}

footer{
	background-color: #333;
	color: white;
	text-align: center;
	padding: 0px 4px;
}

footer a{
	color: white;
}


@media (max-width : 800px){
	#flex_container,#flex_nav{
		background-color: grey;
		width: 100%;
		flex-wrap: wrap;
	}
}

@media (max-width : 400px){
	#flex_container,#flex_nav{
		background-color: grey;
		width: 100%;
		flex-wrap: wrap;
	}
}
